/*Fonts importadas desde Google utilizadas a lo largo del documento
font-family: 'Caveat', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Princess Sofia', cursive;
font-family: 'Tangerine', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Gloria+Hallelujah&family=Indie+Flower&family=Press+Start+2P&family=Princess+Sofia&family=Tangerine:wght@700&display=swap");

/*Fondo fachero que cambia en un lapso de 300s pasando por los 11 background predefinidos*/
@keyframes anim {
  0% {
    background-image: url(../assets/IMG/Background0.jpg);
  }
  9% {
    background-image: url(../assets/IMG/Background1.jpg);
  }
  18% {
    background-image: url(../assets/IMG/Background2.jpg);
  }
  27% {
    background-image: url(../assets/IMG/Background3.jpg);
  }
  36% {
    background-image: url(../assets/IMG/Background4.jpg);
  }
  45% {
    background-image: url(../assets/IMG/Background5.jpg);
  }
  54% {
    background-image: url(../assets/IMG/Background6.jpg);
  }
  63% {
    background-image: url(../assets/IMG/Background7.jpg);
  }
  72% {
    background-image: url(../assets/IMG/Background8.png);
  }
  81% {
    background-image: url(../assets/IMG/Background9.jpg);
  }
  90% {
    background-image: url(../assets/IMG/Background10.jpg);
  }
  100% {
    background-image: url(../assets/IMG/Background11.jpg);
  }
}
/*Dentro del Body se agrega el fondo fachero de arriba estilizandolo al gusto,
de igual forma se establece el VH al 100% para que cubra toda la pantalla*/
#pantalla1 {
  background-image: url(../assets/IMG/Screen1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
  height: 100vh;
}
#pantalla1 h1 {
  font-family: "Tangerine", cursive;
  font-size: 5.5rem;
  color: rgba(146, 148, 9, 0.925);
  text-shadow: 2px 2px 2px black;
}

#pantalla1 input {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1em;
  color: black;
  background-color: rgba(74, 134, 59, 0.356);
  margin: 1.5em;
  text-align: center;
}

#pantalla1 button {
  font-family: "Princess Sofia", cursive;
  font-size: 1.5rem;
  text-shadow: 2px 3px 2px black;
  background-color: rgba(156, 86, 28, 0.609);
  display: inline-block;
  border-radius: 8px;
  border: none;
  color: #ff9204;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 5em;
  transition: all 0.5s;
  cursor: pointer;
}

#pantalla1 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#pantalla1 button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

#pantalla1 button:hover span {
  transform: scale(1.2);
  color: #75ff04;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#pantalla2 {
  padding: 0;
  margin: 0;
  width: auto;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  /* Animación iterante*/
  animation-name: anim;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  /*Inicia el grid*/
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  grid-template-rows: 0.3fr 3fr 0.3fr;
  grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
}

header {
  grid-area: header;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3em;
  font-style: italic;
  font-weight: bolder;
  color: #59d623d0;
  text-shadow: 3px 3px 3px rgba(24, 51, 21, 0.89);
}
/*Aquí se estiliza el contenedor de las cartas*/
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 0.5em;
  margin: auto;
  width: 0 auto;
}

.aside1 {
  grid-area: aside1;
  font-family: "Press Start 2P", cursive;
}

.aside1 h3 {
  font-size: 1rem;
  text-shadow: 2px 2px 2px rgba(56, 55, 55, 0.712);
  text-align: right;
}

.aside1 h4 {
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(3, 63, 63);
}

.aside2 {
  grid-area: aside2;
  font-family: "Press Start 2P", cursive;
}

.aside2 h3 {
  font-size: 1rem;
  text-shadow: 2px 2px 2px rgba(56, 55, 55, 0.712);
  text-align: left;
}
.aside2 h4 {
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(3, 63, 63);
}

footer {
  grid-area: footer;
}

footer {
  background-color: rgba(11, 11, 36, 0.609);
  justify-content: space-evenly;
  border-top: 3px solid rgba(33, 18, 41, 0.705);
  margin-bottom: 1px;
  color: aliceblue;
}

#restart {
  background-color: #5d0606;
  font-family: "Tangerine", cursive;
  font-weight: bolder;
  font-size: 1.2rem;
  color: rgb(231, 203, 203);
}

#restart :hover {
  background-color: rgba(228, 105, 18, 0.746);
  color: #75ff04;
}

footer h5 {
  font-size: 0.95rem;
  font-weight: 1.125rem;
  text-align: center;
  text-shadow: 2px 2px 2px #180e01a6;
}

footer i {
  color: rgb(17, 63, 136);
  vertical-align: middle;
}

footer i:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease-out;
  color: #ff9204;
}
/*Se estilizan las tarjetas como complemento del Main*/
#cards {
  padding: 4em;
  width: auto;
  border-radius: 9px;
  align-items: center;
  margin-top: -3.3em;
  margin-bottom: -2.3em;
}
/*Se modifica el tamaño de las tarjetas (podría implementarse un @mediaQuery responsive)*/
.card-container {
  /* memory game*/
  width: 12em;
  height: 7.3em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card-portrait {
  /* memory card*/
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-portrait:active {
  transform: scale(0.87);
  transition: transform 0.2s;
}

.card-portrait.flip {
  transform: rotateY(180deg);
}

.card-cover,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  -webkit-backface-visibility: hidden; /*IE compatibility*/
}

.card-cover {
  transform: rotateY(180deg);
  width: 100%;
  color: rgba(248, 248, 248, 0.932);
  border-radius: 10px;
  padding: 1.5em;
  font-weight: bolder;
  justify-content: center;
}
/*Se utiliza la misma imagen para el "back" de cada tarjeta, así que no es necesario 
el que sea dinámico*/
.card-back {
  background-image: url(../assets/IMG/Back.jpg);
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  padding: 1.5em;
  color: rgb(241, 236, 235);
}

html {
  display: block;
}
@media only screen and (orientation: portrait) {
  html {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation: landscape) {
  html {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
