/*Fondo facherito que cambia en un lapso de 300s pasando por los 11 background predefinidos*/
@keyframes anim {
  0% {
    background-image: url(../assets/IMG/Background0.jpg);
  }
  9% {
    background-image: url(../assets/IMG/Background1.jpg);
  }
  18% {
    background-image: url(../assets/IMG/Background2.jpg);
  }
  27% {
    background-image: url(../assets/IMG/Background3.jpg);
  }
  36% {
    background-image: url(../assets/IMG/Background4.jpg);
  }
  45% {
    background-image: url(../assets/IMG/Background5.jpg);
  }
  54% {
    background-image: url(../assets/IMG/Background6.jpg);
  }
  63% {
    background-image: url(../assets/IMG/Background7.jpg);
  }
  72% {
    background-image: url(../assets/IMG/Background8.png);
  }
  81% {
    background-image: url(../assets/IMG/Background9.jpg);
  }
  90% {
    background-image: url(../assets/IMG/Background10.jpg);
  }
  100% {
    background-image: url(../assets/IMG/Background11.jpg);
  }
}
/*Dentro del Body se agrega el fondo facherito de arriba estilizandolo al gusto,
de igual forma se establece el VH al 100% para que cubra toda la pantalla*/
body {
  padding: 0;
  margin: 0;
  width: auto;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  /* Animación iterante*/
  animation-name: anim;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  /*Inicia el grid*/
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;
  grid-template-rows: 0.3fr 3fr 0.3fr;
  grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
}

header {
  grid-area: header;
}
/*Aquí se estiliza el contenedor de las cartas*/
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 0.5em;
  margin: auto;
  width: 0 auto;
}

.aside1 {
  grid-area: aside1;
}

.aside2 {
  grid-area: aside2;
}

footer {
  grid-area: footer;
}
/*Se estilizan las tarjetas como complemento del Main*/
#cards {
  padding: 4em;
  width: auto;
  border-radius: 9px;
  align-items: center;
  margin-top: -3em;
  margin-bottom: -5em;
}
/*Se modifica el tamaño de las tarjetas (podría implementarse un @mediaQuery responsive)*/
.card-container {
  /* memory game*/
  width: 12em;
  height: 7.3em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card-portrait {
  /* memory card*/
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-portrait:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.card-portrait.flip {
  transform: rotateY(180deg);
}

.card-cover,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  -webkit-backface-visibility: hidden; /*IE compatibility*/
}

.card-cover {
  transform: rotateY(180deg);
  width: 100%;
  color: rgba(248, 248, 248, 0.932);
  border-radius: 10px;
  padding: 1.5em;
  font-weight: bolder;
  justify-content: center;
}
/*Se utiliza la misma imagen para el "back" de cada tarjeta, así que no es necesario 
el que sea dinámico*/
.card-back {
  background-image: url(../assets/IMG/Back.jpg);
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  padding: 1.5em;
  color: rgb(241, 236, 235);
}

/* responsive para Ipad*/
/* Landscape */
@media only screen and (max-width: 1200px) {
  .card-container {
    /* memory game*/
    width: 6em;
    height: 3.6em;
  }
}
@media only screen and (min-width: 500px) {
  .card-container {
    /* memory game*/
    width: 12em;
    height: 7.3em;
  }
}
